* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
}

nav {
    width: 200px;
    border-right: 2px solid black;
    padding-right: 10px;
    height: 100%;
    position: fixed;
}

nav header {
    text-align: center;
    font-size: 1.6rem;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    font-weight: bold;
}

nav header a {
    text-decoration: none;
    color: black;
}

nav p a {
    font-size: 1.3em;
    border-bottom: 1px solid grey;
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 10px;
    margin-top: -16px;
    background-image: linear-gradient(to right, #8855F7 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s ease-in-out;
}

nav p a:hover {
    background-position: 0 0;
}

main {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 20px;
    margin-left: 200px;
}

main p,
main ul {
    margin-top: 0px;
}

@media (min-width: 768px) {
    nav {
        width: 300px;
    }
    
    nav header {
        font-size: 1.7rem;
    }

    nav p a {
        font-size: 1.4em;
    }

    main {
        margin-left: 300px;
        max-width: 600px;
    }
}