* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-flow: row nowrap;
}

nav {
    width: 350px;
    border-right: 2px solid black;
    padding-right: 10px;
    height: 100vh;
}

nav header {
    text-align: center;
    font-size: 1.8rem;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    font-weight: bold;
}

nav header a {
    text-decoration: none;
    color: black;
}

nav p {
    font-size: 1.4em;
    border-bottom: 1px solid grey;
}

nav p a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 10px;
    margin-top: -22px;
    background-image: linear-gradient(to right, #8855F7 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.3s ease-in-out;
}

nav p a:hover {
    background-position: 0 0;
}



main {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 20px;
    width: 600px;
}

main p,
main ul {
    margin-top: 0px;
}

