<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Students | Database Workshop</title>
        <link rel="stylesheet" href="/styles/styles.css" />
        <link rel="icon" type="image/x-icon" href="/icons/smilingOpenMouthPurple.svg" />

        <!-- //fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet" />
    </head>
    <body>
        <nav id="navbar"></nav>
        <main>
            <script id="loadScreen" src="/scripts/loadScreenScript.js"></script>
            <h1 id="event_id"></h1>
            <ul id="relevant-activities"><span>Relevant activities: </span>
                
            </ul>
        </main>
    
    
        <script src="/scripts/navbarRecordScript.js" type="module"></script>
        <script src="/scripts/eventPageScript.js" type="module"></script>
        <script>
            console.log(window.location.href);
        </script>
    </body>
</html>