@import "./variables.css";

#primary-color,
#secondary-color,
#tertiary-color,
#quaternary-color,
#quintenary-color {
    display: inline-block;
    width: 50px;
    height: 1rem;
}

#primary-color {
    background-color: var(--primary-color);
}

#secondary-color {
    background-color: var(--secondary-color);
}

#tertiary-color {
    background-color: var(--tertiary-color);
}

#quaternary-color {
    background-color: var(--quaternary-color);
}

#quintenary-color {
    background-color: var(--quintenary-color);
}