@import "./variables.css";

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

nav {
    height: 10vh;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

nav header {
    font-size: 3.5rem;
    margin-top: 10px;
}

nav header a {
    text-decoration: none;
    color: #e02828;
    font-weight: bold;
}

nav header a:hover {
    color: #7c1212;
}

nav img {
    height: 110%;
}

nav button {
    height: 50%;
}

#old-navlinks {
    display: absolute;

}

#old-navlinks p {
    display: inline;
}

.loadScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

.loadScreen div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid lightgrey;
    border-top: 15px solid var(--tertiary-color);
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) } 
}

main {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 90vh;
}

#navlinks {
    width: 12%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
}

#navlinks > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#today {
    height: 80%;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-flow: column nowrap;
}

#navlinks > div:not(:first-child) {
    width: 90%;
    height: 5%;
    margin-top: 15px;
}

#navlinks > div:last-child {
    margin-bottom: 15px;
}

#calendar {
    width: 88%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#calendar-labels {
    display: flex;
    flex-flow: row wrap;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    margin-top: 20px;
    height: 15%;
}

#create-an-event {
    height: 40px;
}

.simpleBtn { 
    appearance: none;
    align-items: center; 
    background-color: #fff; 
    border-radius: 12px; 
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px; 
    color: #121212; 
    cursor: pointer; 
    display: inline-flex;
    font-size: 1.2rem; 
    font-weight: 700; 
    justify-content: center; 
    margin: 0; 
    outline: none; 
    padding: 1rem 1.2rem; 
    text-align: center; 
    text-decoration: none; 
    transition: box-shadow .2s,-webkit-box-shadow .2s; 
    white-space: nowrap; 
    border: 0; 
    user-select: none;
}

.simpleBtn:hover {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.simpleBtn:active {
    transform: translateY(4px);
}

.simpleBtn[disabled],
.simpleBtn:hover[disabled],
.simpleBtn:active[disabled] {
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px; 
    transform: translateY(0px);
    color: lightgray;
}

.borderBtn {
    cursor: pointer;
    font-weight: bold;
    display: inline-flex;
    user-select: none;
    color: #6f00ff;
    background-color: #f8f8fd;
    padding: 0.2em 2.2em;
    border-radius: 50em;
    border: 6px solid #c585fa;
    box-shadow: 0px 4px #9a1fff;
    align-items: center;
    justify-content: center;
}

.borderBtn:active {
    position: relative;
    top: 4px;
    border: 6px solid #d364ff;
    box-shadow: 0px 0px;
}

.dateBtn {
    appearance: none;
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 1.6rem;
    text-align: center;
    user-select: none;
}

.dateBtn:hover {
    background-color: #1e293b;
    color: #fff;
}

/*.dateBtn {
    font-size: 1.3rem;
    text-align: right;
    padding: 1rem;
    background: #FFF;
    color: blueviolet;
    cursor: pointer;
    user-select: none;
    border-radius: 0.5rem;
    border-bottom: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
    border-top: 2px solid white;
    border-top: 2px solid white;
    transition-duration: 0.2s;
    transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
}

.dateBtn:hover {
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) 3px 3px, rgba(240, 46, 170, 0.3) 6px 6px, rgba(240, 46, 170, 0.2) 9px 9px;
}*/

#scroll-options {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
    gap: 5px;
}

#precise-display {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 5px;
    width: 10%;
}

#month-display {
    appearance: none;
    border: none;
}

#day-names {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

#day-names div {
    width: 100%;
    text-align: center;
}

#active-calendar {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    width: 95%;
    height: 80%;
    z-index: 1;
}

#active-calendar > div {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
}

.monthCell {
    width: calc(100% / 7);
    height: 20%;
    border: solid 2px black;
    z-index: 2;
}

.monthCell > div {
    background-color: var(--tertiary-color);
    height: 25%;
    border-radius: 5px;
    margin: 2px;
    transition: transform 0.1s ease-in-out;
    user-select: none;
}

.monthCell > div:hover {
    background-color: white;
    cursor: pointer;
    transform: translateY(-2px);
}

.monthCell > div:active {
    transform: translateY(2px);
}

.selectedDay {
    z-index: 3;
}

#loading-msg {
    position: absolute;
    right: 0;
    bottom: 0;
}

#create-event-modal:modal {
    width: 700px;
    height: 500px;
    display: flex;
    flex-flow: row nowrap;
}

#create-event-div {
    display: flex;
    flex-flow: column nowrap;
    overflow: none;
    width: 50%;
}

#create-event-div input {
    display: block;
}

#submit-event-btn {
    height: 2.5rem;
    width: 5rem;
    font-size: 1.2rem;
}

#event-preview {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

#event-preview > button {
    width: 4rem;
}

#event-preview > div {
    width: 100%;
}