@import "./variables.css";

* {
    box-sizing: border-box;
    /*font-family: "Rubik", sans-serif;*/
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

nav {
    height: 15vh;
}

#old-navlinks {
    position: absolute;
    top: 40px;
    left: 0px;
}

.loadScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

.loadScreen div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid lightgrey;
    border-top: 15px solid var(--tertiary-color);
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) } 
}

main {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;
}

#navlinks {
    width: 20%;
    height: 100%;
    /*background-color: var(--primary-color); */
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
}

#navlinks > div {
    height: 15%;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#navlinks > div:first-child {
    height: 40%;
    font-size: 1.5rem;
}

#navlinks > div:not(:first-child) {
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 30%;
    margin-top: 15px;
    background-color: var(--secondary-color);
    transition: transform 0.1s ease-in-out;
    user-select: none;
}

#navlinks > div:last-child {
    margin-bottom: 15px;
}

#navlinks > div:not(:first-child):hover {
    background-color: lightsteelblue;
    cursor: pointer;
    transform: translateY(-8px);
}

#navlinks > div:not(:first-child):active {
    transform: translateY(2px);
}

#calendar {
    width: 55%;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#calendar-labels {
    display: flex;
    flex-flow: row wrap;
    border: solid 2px black;
    width: 90%;
    justify-content: space-between;
}

#day-names {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-around;
}

#active-calendar {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: 50%;
}

#active-calendar > div {
    width: calc(100% / 7);
    height: 20%;
}

#today {
    width: 25%;
    height: 100%;
    background-color: white;
}

#today > div:first-child {
    font-size: 2rem;
}