@import "./variables.css";

* {
    box-sizing: border-box;
    /*font-family: "Rubik", sans-serif;*/
    /*font-family: 'Arial Narrow', Arial, sans-serif;*/
    /*font-family: "Open Sans", Arial, sans-serif;*/
    font-family: "Roboto", Arial, sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

nav {
    height: 15vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

nav header {
    font-size: 3rem;
}

nav button {
    height: 50%;
}

#old-navlinks {
    display: absolute;

}

#old-navlinks p {
    display: inline;
}

.loadScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10;
}

.loadScreen div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid lightgrey;
    border-top: 15px solid var(--tertiary-color);
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) } 
}

main {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;
}

#navlinks {
    width: 15%;
    height: 100%;
    /*background-color: var(--primary-color); */
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
}

#navlinks > div {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#navlinks > div:first-child {
    height: 60%;
    font-size: 1.5rem;
}

#navlinks > div:not(:first-child) {
    height: 10%;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 25%;
    margin-top: 15px;
    background-color: var(--secondary-color);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    user-select: none;
    box-shadow: 0 4px black;
}

#navlinks > div:last-child {
    margin-bottom: 15px;
}

#navlinks > div:not(:first-child):hover {
    background-color: lightsteelblue;
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 9px black;
}

#navlinks > div:not(:first-child):active {
    transform: translateY(2px);
    box-shadow: 0 2px black;
}

#calendar {
    width: 70%;
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#calendar-labels {
    display: flex;
    flex-flow: row wrap;
    width: 95%;
    justify-content: space-between;
    row-gap: 20px;
    margin-top: 20px;
}

#create-an-event {
    background-color: paleturquoise;
    border-radius: 20%;
    border: 6px outset black;
    width: 250px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    box-shadow: 2px 4px black;
    user-select: none;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

#create-an-event:hover {
    transform: translateY(-4px);
    box-shadow: 2px 8px black;
    background-color: skyblue;
    cursor: pointer;
}

#create-an-event:active {
    transform: translateY(1px);
    box-shadow: 2px 3px black;
}

#scroll-options {
    display: flex;
    flex-flow: row nowrap;
    width: 200px;
    height: 30px;
    font-size: 5rem;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    user-select: none;
}

#scroll-options div p {
    background-color: peachpuff;
    transition: transform 0.1s ease-in-out;
}

#scroll-options div p:hover {
    background-color: white;
    cursor: pointer;
    transform: translateY(-4px);
}

#scroll-options div p:active {
    transform: translateY(2px);
}

#day-names {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

#day-names div {
    width: 100%;
    text-align: center;
}

#active-calendar {
    display: flex;
    flex-flow: row wrap;
    width: 95%;
    height: 60%;
    z-index: 1;
}

#active-calendar > div {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
}

.monthCell {
    width: calc(100% / 7);
    height: 20%;
    border: solid 2px black;
    z-index: 2;
}

.monthCell > div {
    background-color: var(--tertiary-color);
    height: 25%;
    border-radius: 5px;
    margin: 2px;
    transition: transform 0.1s ease-in-out;
    user-select: none;
}

.monthCell > div:hover {
    background-color: white;
    cursor: pointer;
    transform: translateY(-2px);
}

.monthCell > div:active {
    transform: translateY(2px);
}

.selectedDay {
    z-index: 3;
}


#today {
    width: 15%;
    height: 100%;
    background-color: white;
}

#today > div:first-child {
    font-size: 2rem;
}

#loading-msg {
    position: absolute;
    right: 0;
    bottom: 0;
}