.modal-window {
    position: absolute;
    left: 300px;
    top: 0px;
    width: calc(100% - 300px);
    height: 100%;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-window > div {
    width: 100%;
    height: 100%;
    background-color: pink;
}

tr {
    transition: background-color 0.1s ease-in-out;
}

tr:hover {
    cursor: pointer;
    background-color: lightgrey;
}