.modal-window {
    position: absolute;
    left: 300px;
    top: 0px;
    width: calc(100% - 300px);
    height: 100%;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-window > div {
    width: 600px;
    height: 500px;
    background-color: pink;
    padding: 30px;
    overflow: scroll;
}

tr {
    transition: background-color 0.1s ease-in-out;
}

tr:hover {
    cursor: pointer;
    background-color: lightgrey;
}

#creator-modal {
    position: fixed;
    width: 150px;
    height: 150px;
    transition: transform 0.1s ease-out;
    background-color: lightcoral;
}

#creator-name:hover {
    cursor: pointer;
}

#creation-info:has(#creator-name:hover) ~ #creator-modal {
    display: block;
}