@import "./variables.css";

#import-students-csv {
    font-size: 0.8rem;
}

#submit-import-students-csv {
    background-color: lightseagreen;
}

#students-table-container {
    max-height: 900px;
    max-width: 100%;
    overflow: auto;
    border: 2px solid black;
}

table {
    background-color: white;
    border-collapse: collapse;
}

thead tr {
    height: 3.5rem;
}

th {
    position: sticky;
    top: 2px;
    background-color: darkblue;
    color: white;
    transform: translateY(-2px);
    min-width: 100px;
    max-width: 200px;
}

tbody tr {
    height: 2.5rem;
    background-color: lightcyan;
    cursor: pointer;
}

td {
    white-space: nowrap;
}

tbody tr:nth-child(odd) {
    background-color: lightblue;
}

#student-modal {
    position: fixed;
    top: calc(50% - 350px);
    left: calc(50% - 250px);
    width: 500px;
    height: 700px;
    background-color: lavender;
    z-index: 1;
    border-radius: 5%;
    border: 2px solid black;
    padding-left: 50px;
    display: none;
    flex-flow: column nowrap;
    white-space: pre;
}

#close-modal-btn {
    width: 25px;
    height: 25px;
    background-color: forestgreen;
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 20%;
}

#close-modal-btn::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 10%;
    height: 100%;
    transform: rotate(45deg);
    left: 45%;
}

#close-modal-btn::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 10%;
    transform: rotate(45deg);
    top: 45%;
}

#name-and-id {
    margin-top: 40px;
    font-size: 2rem;
}

@media (min-width: 768px) {
    #students-table-container {
        max-width: calc(100% - 300px);
    }

    #student-modal {
        left: calc(50% - 150px);
    }
}