@import "./variables.css";

* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

nav {
    width: 100%;
    border-bottom: 2px solid black;
    padding-right: 10px;
    background-color: white;
}

nav header {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    font-weight: bold;
}

nav header a {
    text-decoration: none;
    color: black;
}

nav p a {
    font-size: 1em;
    border-bottom: 1px solid grey;
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 10px;
    margin-top: -16px;
    background-color: white;
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-color 0.2s ease-in-out;
}

nav p a:hover {
    background-color: #8855F7;
}

main {
    padding: 0 5% 5%;
}

main p,
main ul {
    margin-top: 0px;
}

.loadScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
}

.loadScreen div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 15px solid lightgrey;
    border-top: 15px solid lightseagreen;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) } 
}

@media (min-width: 768px) {
    nav {
        position: fixed;
        height: 100%;
        width: 300px;
        border-bottom: none;
        border-right: 2px solid black;
    }
    
    nav header {
        font-size: 1.7rem;
    }

    nav p a {
        font-size: 1.4em;
        padding: 20px 10px;
    }

    main {
        margin-left: 300px;
        width: calc(100% - 300px);
        padding: 0 20px;
    }
}