/* primaryClassroomPalette.png */
/* :root {
    --primary-color: #d44052;
    --secondary-color: #1B5299;
    --tertiary-color: #ECA72C;
    --quaternary-color: #00A676;
    --quintenary-color: #000;
} */

/* Palette2.png */
/* :root {
    --primary-color: #B0A1BA;
    --secondary-color: #A5B5BF;
    --tertiary-color: #ABC8C7;
    --quaternary-color: #B8E2C8;
    --quintenary-color: #000;
} */

/* Palette3.png */
/* :root {
    --primary-color: #7798AB;
    --secondary-color: #C3DBC5;
    --tertiary-color: #E8DCB9;
    --quaternary-color: #f2cee6;
    --quintenary-color: #000;
} */

/* Palette4.png */
/*:root {
    --primary-color: #729EA1;
    --secondary-color: #B5BD89;
    --tertiary-color: #EC9192;
    --quaternary-color: #DB5375;
    --quintenary-color: #000;
}*/

/*https://www.color-hex.com/color-palette/1050335*/
/*:root {
    --primary-color: #0032db;
    --secondary-color: #0689e4;
    --tertiary-color: #71ab23;
    --quaternary-color: #fbb905;
    --quintenary-color: #d55e0f;
}*/

/*https://www.color-hex.com/color-palette/55027*/
/*:root {
    --primary-color: #f3c6f2;
    --secondary-color: #efa6b6;
    --tertiary-color: #bd98e0;
    --quaternary-color: #8d90e2;
    --quintenary-color: #7554ae;
}*/

/*https://www.color-hex.com/color-palette/5361*/
:root {
    --primary-color: #bae1ff;
    --secondary-color: #ffdfba;
    --tertiary-color: #ffffba;
    --quaternary-color: #baffc9;
    --quintenary-color: #ffb3ba;
}