:root {
    --primary-color: #d44052;
    --secondary-color: #1B5299;
    --tertiary-color: #ECA72C;
    --quaternary-color: #00A676;
    --quintenary-color: #000;
}

/* current palette = primaryClassroomPalette.png */