* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    margin: 0;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.login-window,
.signup-window {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #8855F7;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.hidden {
    display: none;
}

label {
    margin-bottom: 10px;
}

input {
    display: block;
}

button[type="submit"] {
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
}

#to-signup-window {
    text-decoration: none;
    border: none;
    background-color: red;
    cursor: pointer;
    margin-top: 20px;
}